html {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: $teal;
}

.full-page-container {
}

.form-card {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100%;
  min-height: 100vh;

  .card {
    padding: 42px;
    width: 60%;
    background-color: #fff !important;
  }

  .text-field-element input {
    border-top: 0px solid transparent !important;
    border-left: 0px solid transparent !important;
    border-right: 0px solid transparent !important;
    border-bottom: 1px solid $teal !important;
    width: 100% !important;
    margin-bottom: 21px;
  }
}

.white-headline {
  color: #fff !important;

  a {
    color: #fff !important;

    &:hover {
      text-decoration: none;
    }
  }
}

.headline-row-wrapper {
  margin-top: 15px;
}

.list-group-wrapper {
  margin-top: 42px;
}

.pagination {
  margin-top: 21px;

  .page-item.active .page-link {
    background-color: $dark-teal !important;
    border-color: $dark-teal !important;
  }

  .page-link {
    color: $teal !important;
  }
}

