.newsletter-headline {
  color: white !important;
  margin-bottom: 21px;
}

.newsletter-card-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;

  .newsletter-card-block {
    padding: 21px !important;

    a {
      color: black !important;

      &:hover {
        text-decoration: none !important;
      }
    }

    .btn {
      padding-top: 10px !important;
      color: white !important;
      margin-top: 10px !important;

      &:hover {
        color: white !important;
      }
    }
  }

  .card-img-top {
    min-height: 215px !important;
    max-height: 215px !important;
  }
}

.newsletter-wrapper {
  .btn {
    padding-top: 10px !important;
    color: white !important;
    margin-top: 10px !important;

    &:hover {
      color: white !important;
    }
  }

  .edit-btn {
    margin-bottom: 30px;
  }
}

.newsletter-form-wrapper {
  .card {
    padding: 21px;
  }

  .newsletter-featured-image img {
    width: 100%;
  }

  .newsletter-content {
    margin-top: 21px;
    margin-bottom: 21px;
  }

  .newsletter-timestamp {
    margin-bottom: 15px !important;
  }
}


.pagination {
  margin-top: 21px;

  .page-item.active .page-link {
    background-color: $dark-teal !important;
    border-color: $dark-teal !important;
  }

  .page-link {
    color: $teal !important;
  }
}
