.newsletter-headline {
  color: white !important;
  margin-bottom: 21px;
}

.newsletter-card-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;

  .newsletter-card-block {
    padding: 21px !important;

    a {
      color: black !important;

      &:hover {
        text-decoration: none !important;
      }
    }

    .btn {
      padding-top: 10px !important;
      color: white !important;
      margin-top: 10px !important;

      &:hover {
        color: white !important;
      }
    }
  }

  .card-img-top {
    min-height: 215px !important;
    max-height: 215px !important;
  }
}
