html {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background: image-url('scottsdale-palms-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: $bg-color;
}

.content-container {
  padding-top: 80px;
}
